<ul class="white bg-black f7 pv2 ph3 flex flex-wrap">
  <h2 class="fw7 mr3 pv2">SITE:</h2>
  <li class="pv2"><a class="link underline hover-pink mr3" href="/log-in">Log in to app</a></li>
  <li class="pv2"><a class="link underline hover-pink mr3" href="/">Log in to OECI (index)</a></li>
  <li class="pv2"><a class="link underline hover-pink mr3" href="/search">Search</a></li>
  <li class="pv2"><a class="link underline hover-pink mr3" href="/account">Account</a></li>
  <li class="pv2"><a class="link underline hover-pink mr3" href="/components">Components</a></li>
  <h2 class="fw7 mr3 pv2">OTHER:</h2>
  <li class="pv2"><a class="link underline hover-pink mr3" href="https://github.com/hmarcks/expunge-pdx-frontend">Github repo</a></li>
</ul>
