<nav class="moon-gray bg-black f7 pv2 ph3">
  <h1 class="fw8 mr3 pv2 white dib">Frontend Dev Menu 🍡</h1>
  <p class="dib">This is a prototype where we can build the frontend before integrating with the main app.</p>
  
  <div class="flex flex-wrap items-center">
    <h2 class="fw8 mr2 pv2 white">Sitemap:</h2>
    <ul class="flex flex-wrap items-center">
      <li class="pv2"><a class="link underline hover-pink mr3" href="/log-in">Log in to app</a></li>
      <li class="pv2"><a class="link underline hover-pink mr3" href="/">Log in to OECI (index)</a></li>
      <li class="pv2"><a class="link underline hover-pink mr3" href="/search">Search</a></li>
      <li class="pv2"><a class="link underline hover-pink mr3" href="/stats">Stats</a></li>
      <li class="pv2"><a class="link underline hover-pink mr3" href="/admin">Admin</a></li>
      <li class="pv2"><a class="link underline hover-pink mr3" href="/admin/edit-user">Add / edit user</a></li>
      <li class="pv2"><a class="link underline hover-pink mr3" href="/account">Account</a></li>
    </ul>
  </div>

  <div class="flex flex-wrap items-center">
    <h2 class="fw8 mr2 pv2 white">Other:</h2>
    <ul class="flex flex-wrap items-center">
      <li class="pv2"><a class="link underline hover-pink mr3" href="/design-system">Design System</a></li>
      <li class="pv2"><a class="link underline hover-pink mr3" href="https://marvelapp.com/644d2f9/screen/50214078">Wireframes</a></li>
      <li class="pv2"><a class="link underline hover-pink mr3" href="https://github.com/hmarcks/expunge-pdx-frontend">Repo for this prototype</a></li>
      <li class="pv2"><a class="link underline hover-pink mr3" href="https://github.com/CodeForPortland/recordexpungPDX">Repo for main app</a></li>
    </ul>
  </div>

</nav>
