<nav class="center pt3 ph2 bg-white shadow">
  <div class="mw8 center flex-l justify-between">
    <div class="logo mb3">
      {% include svg/logo.svg %}
    </div>
    <div class="dib mb2">
      <a class="link hover-blue f6 f5-ns dib pa3" href="/search">Search</a>
      <a class="link hover-blue f6 f5-ns dib pa3" href="/stats">Stats</a>
      <a class="link hover-blue f6 f5-ns dib pa3" href="/admin">Admin</a>
      <a class="link hover-blue f6 f5-ns dib pa3" href="/account">Account</a>
      <a class="link hover-blue f6 f5-ns dib pa3" href="/log-in">Log Out</a>
    </div>
  </div>
</nav>
